.toolbar{
    /* background-color: aquamarine; */
    /* padding: 10px; */
}

.delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgb(100, 190, 160); */
    margin-bottom: 10px;
}

.delete-buttons Button{
    height: 30px;
    width: 120px;
    background-color: #FFA1B1;
    margin: 5px;
}

.stitch-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgb(65, 124, 104); */
}

.stitch-buttons Button{
    height: 70px;
    width: 70px;
    background-color: #FFA1B1;
    margin: 5px;
}
