.Chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chart-body {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: 500px;
  height: 500px;
  position: relative;
}

.chart-body #canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}
