header {
  margin: 0;
  padding: 0;
  color: #ffe0c0;
  /* height: vh; */
  display: flex;
  justify-content: center;
  background-color: #d56653;
  border-bottom: 7px solid #e79b63;
}

header .h1 {
  background-color: #d56653;
  margin: 0;
  padding: 0;
}
