body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  height: 9vh;
}

main {
  display: flex;
  height: 90vh;
}

.Stitchbar {
  flex: 1;
  max-width: 20vw; /* Adjust the width as needed */
  min-width: 20vw;
}

.Chart {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .Toolbar {
  flex: 1;
} */

.getStartingSts {
  display: flex;
  height: auto;
  width: auto;
  padding: 20px;
}

.input-group {
  display: flex;
  flex-flow: wrap;
}

.input-group input {
  flex: 1;
  max-width: 100px;
}

.input-group button {
  margin-left: 10px;
}
